
<!-- navigation -->
<div>
<!-- Top Nav -->
<div class="bg-blue-500">
    <div class="container mx-auto px-4">
        <div class="flex items-center  sm:justify-between py-4">
          
          <div class="w-1/4  sm:hidden">
        <svg class="fill-current text-white h-8 w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M16.4 9H3.6c-.552 0-.6.447-.6 1 0 .553.048 1 .6 1h12.8c.552 0 .6-.447.6-1s-.048-1-.6-1zm0 4H3.6c-.552 0-.6.447-.6 1 0 .553.048 1 .6 1h12.8c.552 0 .6-.447.6-1s-.048-1-.6-1zM3.6 7h12.8c.552 0 .6-.447.6-1s-.048-1-.6-1H3.6c-.552 0-.6.447-.6 1s.048 1 .6 1z"/></svg>
    </div>
    
    <div class="w-1/2  sm:w-auto text-center text-white text-2xl font-medium">
        cointoad
    </div>    

    <div class="w-1/4  sm:w-auto  sm:flex text-right">
    
     <div>
       <img class="inline-block h-8 w-8 rounded-full" src="https://avatars1.githubusercontent.com/u/39663413?s=460&v=4" alt="image_error">
    </div>
    
    <div class="hidden sm:block sm:flex sm:items-center ml-2">
        <span class="text-white text- sm mr-2"> Anshu Kumar </span> 


         <div>
                 <svg class="fill-current text-white h-4 w-4 block opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M4.516 7.548c.436-.446 1.043-.481 1.576 0L10 11.295l3.908-3.747c.533-.481 1.141-.446 1.574 0 .436.445.408 1.197 0 1.615-.406.418-4.695 4.502-4.695 4.502a1.095 1.095 0 0 1-1.576 0S4.924 9.581 4.516 9.163c-.409-.418-.436-1.17 0-1.615z"/></svg>
         </div>
    </div> 
   </div>
</div>
</div>
</div>
<!--secondary nav-->
<div class="hidden bg-blue-500 sm:block sm:bg-white  sm:border-b">
<div class="container mx-auto px-4">
<div class=" sm:flex">
<div class="flex -mb-px mr-6">
<a href="#" class="no-underline text-white sm:text-blue-500 flex items-center py-4 border-b border-blue-500">
<svg class="h-4 w-4 fill-current mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M8 4H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1zm7 0h-3a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1zm-7 7H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1zm7 0h-3a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"/></svg>
             Dashboard
        </a>
</div>

     <div class="flex -mb-px mr-6">
       <a href="#" class="no-underline opacity-50 sm:text-gray-500 flex items-center py-4 border-b border-transparent hover:opacity-100 sm:hover:border-gray-500">
         <svg class="h-4 w-4 fill-current mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M14 5H4V3L0 6.5 4 10V8h10V5zm6 8.5L16 10v2H6v3h10v2l4-3.5z"/></svg>             
           Buy/Sell
        </a>
    </div>

<div class="flex -mb-px mr-6">
<a href="#" class="no-underline  opacity-50 sm:text-gray-500 flex items-center py-4 border-b border-transparent hover:opacity-100 sm:hover:border-gray-500">

<svg class="h-4 w-4 fill-current mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M16 6H3.5v-.5l11-.88v.88H16V4c0-1.1-.891-1.872-1.979-1.717L3.98 3.717C2.891 3.873 2 4.9 2 6v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2zm-1.5 7.006a1.5 1.5 0 1 1 .001-3.001 1.5 1.5 0 0 1-.001 3.001z"/></svg>
     Accounts
        </a>
</div>

<div class="flex -mb-px mr-6">
<a href="#" class="no-underline  opacity-50 sm:text-gray-500 flex items-center py-4 border-b border-transparent hover:opacity-100 sm:hover:border-gray-500">

<svg class="h-4 w-4 fill-current mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13.981 2H6.018s-.996 0-.996 1h9.955c0-1-.996-1-.996-1zm2.987 3c0-1-.995-1-.995-1H4.027s-.995 0-.995 1v1h13.936V5zm1.99 1l-.588-.592V7H1.63V5.408L1.041 6C.452 6.592.03 6.75.267 8c.236 1.246 1.379 8.076 1.549 9 .186 1.014 1.217 1 1.217 1h13.936s1.03.014 1.217-1c.17-.924 1.312-7.754 1.549-9 .235-1.25-.187-1.408-.777-2zM14 11.997c0 .554-.449 1.003-1.003 1.003H7.003A1.003 1.003 0 0 1 6 11.997V10h1v2h6v-2h1v1.997z"/></svg>
           Tools
        </a>
</div>

<div class="flex -mb-px mr-6">
<a href="#" class="no-underline  opacity-50 sm:text-gray-500 flex items-center py-4 border-b border-transparent hover:opacity-100 sm:hover:border-gray-500">

<svg class="h-4 w-4 fill-current mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M16.783 10c0-1.049.646-1.875 1.617-2.443a8.932 8.932 0 0 0-.692-1.672c-1.089.285-1.97-.141-2.711-.883-.741-.74-.968-1.621-.683-2.711a8.732 8.732 0 0 0-1.672-.691c-.568.97-1.595 1.615-2.642 1.615-1.048 0-2.074-.645-2.643-1.615a8.697 8.697 0 0 0-1.671.691c.285 1.09.059 1.971-.684 2.711-.74.742-1.621 1.168-2.711.883A8.797 8.797 0 0 0 1.6 7.557c.97.568 1.615 1.394 1.615 2.443 0 1.047-.645 2.074-1.615 2.643a8.89 8.89 0 0 0 .691 1.672c1.09-.285 1.971-.059 2.711.682.741.742.969 1.623.684 2.711a8.841 8.841 0 0 0 1.672.693c.568-.973 1.595-1.617 2.643-1.617 1.047 0 2.074.645 2.643 1.617a8.963 8.963 0 0 0 1.672-.693c-.285-1.088-.059-1.969.683-2.711.741-.74 1.622-1.166 2.711-.883a8.811 8.811 0 0 0 .692-1.672c-.973-.569-1.619-1.395-1.619-2.442zM10 13.652a3.652 3.652 0 1 1 0-7.306 3.653 3.653 0 0 1 0 7.306z"/></svg>
           Settings
        </a>
</div>


</div>
</div>
</div>
</div>

<div class="container mx-auto px-4 pt-6 pb-12">
     <div class="bg-white border rounded shadow">
          <div class="border-b">
          <div class="flex justify-between -mb-px">
            
               <div class="flex">
                <button type="button" class="py-4 text-blue-500 appearance-none border-transparent hover:border-gray-500  border-b border-blue-500 mr-4">
                   Bitcoin &middot; CA$21,380.01
                </button type="button">

                  <button type="button" class="py-4 text-blue-500 appearance-none border-b border-blue-500 mr-4">
                       Ethereum &middot; CA$884.80
                 </button type="button">
                 <button type="button" class="py-4 appeearance-none text-blue-500 border-b border-blue-500">
                       Litecoin &middot; CA$356.85
                 </button type=button>
               </div>
                  <div class="flex text-sm">
                    <button type="button" class="appearance-none py-4 text-blue-500 border-b border-transparent hover:border-blue-500 mr-4">
                     1H
                    </button type="button">
                    <button type="button"  class="appearance-none py-4 text-blue-500 border-b border-transparent hover:border-blue-500 mr-4">
                     1D
                    </button type="button">
                    <button type="button"  class="appearance-none py-4 text-blue-500 border-b border-transparent hover:border-blue-500 mr-4">
                     1W
                    </button type="button">
                    <button type="button"  class="appearance-none py-4 text-blue-500 border-b border-transparent hover:border-blue-500 mr-4">
                     1M
                    </button type="button">
                      <button type="button"  class="appearance-none py-4 text-blue-500 border-b border-transparent hover:border-blue-500 mr-4">
                     1Y
                    </button type="button"> 
                    <button type="button"  class="appearance-none py-4 text-blue-500 border-b border-transparent hover:border-blue-500 ">
                    ALL
                    </button type="button">                 
                  </div>
            </div>
            
         </div>

         <div class="flex">

              <div class="w-1/3 text-center py-6">
                  <div class="border-r">
                  <div class="text-gray-600 mb-2">
                 <span class="text-3xl align-top">CA</span>
                 <span class="text-5xl">$21,484</span>
                 <span class="text-3xl align-top">.74</span>
        </div>
        <div class="uppercase text-gray-500 tracking-wide">
        Bitcoin Price
        </div>
        </div>
               </div>
     
        <div class="w-1/3 text-center py-6">
        <div class="border-r">
        <div class="text-gray-600 mb-2">
                 <span class="text-3xl align-top"><span class="text-green-700 align-top">+</span></span>
                 <span class="text-3xl align-top">CA</span>
                 <span class="text-5xl">$12,998</span>
                 <span class="text-3xl align-top">.48</span>
        </div>
        <div class="uppercase text-gray-500 tracking-wide">
        Since Last Month(CAD)
        </div>
        </div>
        </div>

        <div class="w-1/3 text-center py-6">
         <div border-r>
            <div class="text-gray-600">
            <span class="text-3xl align-top"><span class="text-green-700 align-top">+</span></span>
             <span class="text-5xl">155.01</span>
             <span class="text-3xl align-top">%</span>
             <div class="uppercase text-gray-500 tracking-wide">
                  SINCE LAST MONTH(%)</div>
             </div>
        </div>
           </div>
         </div>
         </div>
     </div>   
</div>
