<!DOCTYPE html>
<html class="antialiased">
  <%= render "shared/head" %>
<body class="font-sans bg-grey-100">
    <%= render "shared/flash_notice" %>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </body>
</html>
